.wrapper {
  background-color: #fef8f5;
}

.image-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.un {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Helvetica Neue", sans-serif;
}

.form-header {
  color: #4e4039;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-form-field {
  text-align: center;
  width: 300px;
  margin-top: -20px;
}

.info-box {
  margin-bottom: 32.5px;
  width: 100%;
  font-size: 16px;
  color: #414141;
}

.info-line {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

p {
  font-weight: bold;
}

.header-text {
  font-size: 25px;
}

.subheader-text {
  font-size: 16px;
}

.kids-column {
  display: flex;
  flex-direction: column;
}

.editing {
  justify-content: space-between;
}

.info-data {
  margin-bottom: 12px;
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  margin-top: 20px; /* Adds space between the other fields and the images */
  display: flex;
  justify-content: center;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slideshow-image {
  width: 100%; /* Makes the images responsive */
  max-width: 500px; /* Sets a maximum width for images */
  height: auto; /* Ensures the height is proportional */
  object-fit: cover; /* Ensures the image covers the fixed dimensions */
  border-radius: 10px; /* Optional: adds rounded corners */
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%; /* Makes the buttons circular */
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button.prev:hover,
button.next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}
