
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.bg-white{
    border: solid #A277C7 2px;
    width: 500px;
}
.continue{
    color: #A277C7;
    border-color: #A277C7
}
.continue:hover {
    color: #A277C7;
    background-color: #fef8f5;
    border-color: #A277C7
}
i {
    color: #6A4C93;
    font-size: 100px;
    line-height: 200px;
  }


