table {
  width: 100%;
}

.mat-elevation-z8{
    padding-top: 10px;
}

tr:hover{
    background-color: rgba(194, 169, 229, 0.55);
    cursor: pointer;
}

.header-row{
    background-color: white !important;
}
