<section class="vh-100" class="wrapper">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11" >
          <div class="card text-black" style="border-radius: 25px; margin: 25px" *ngFor="let property of propertyData">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 form-header" >
                        <div>
                          <p class="header-text"> Полица Nº <span>{{property.policy.policyNumber}}</span></p>
                          <div class="subheader-text">от {{property.policy.startDate | date: 'dd.MM.yyyy'}} до {{property.policy.endDate | date: 'dd.MM.yyyy'}}</div>
                          <div type="button" (click)="toMyClaims(property.propertyOwner.egn)">
                            <div  class="subheader-text claim-wrapper">
                              Виж претенции
                            <mat-icon>class</mat-icon></div>
                          </div>
                        </div>
                        <p class="header-text" *ngIf="ownerHasPolicy !== true"> Данни на титуляр</p>
                </div>
                  <div class="info-box" >
                    <div >
                        <div class="info-line">
                            <div>
                              <p> Име</p>
                              <p> ЕГН</p>
                              <p> Имейл  </p>
                              <p> Телефонен номер </p>
                            <p> Населено място</p>
                            <p> Адрес на имота</p>
                            </div>

                            <div>
                              <div class="info-data">  {{property.propertyOwner.firstName}}  {{property.propertyOwner.lastName}} </div>
                              <div class="info-data"> {{property.propertyOwner.egn}} </div>
                              <div class="info-data"> {{property.propertyOwner.email}} </div>
                              <div class="info-data"> {{property.propertyOwner.phoneNumber}} <br></div>
                              <div class="info-data"> {{property.city}}</div>
                              <div class="info-data"> {{property.address}}</div>
                            </div>

                        </div>
                    </div>

                     <div class="not-editing">
                        <div class="info-line">
                            <div>
                              <p> Тип на имота</p>
                              <p> Размер на имота</p>
                              <p> Покритие на застраховката</p>
                              <p> Застрахователна сума на имуществото</p>
                              <p> Застрахователна сума на недвижимо имущество</p>
                              <p> Застрахователна премия на годишна база</p>
                            </div>

                            <div>
                              <div class="info-data"> {{property.propertyType}}</div>
                              <div class="info-data"> {{property.size}} </div>
                              <div class="info-data"> {{property.policy.coveragePackage}} </div>
                              <div class="info-data"> {{property.policy.insuranceAmount}} лв<br> </div>
                              <div class="info-data"> {{property.policy.insuranceMovablePropertyAmount}} лв<br> </div>
                              <div class="info-data"> {{property.policy.policyPrice}} лв<br></div>
                            </div>

                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>


<!--    <div *ngFor="let insuredData of children">-->
<!--      <app-profile-card-item-->
<!--      [insuredData]="insuredData">-->
<!--      </app-profile-card-item>-->
<!--    </div>-->

