<footer class="footer bg-white text-dark mt-auto">
  <div class="container">
    <div class="row">

      <!-- Лого и описание -->
      <div class="col-md-4 mb-4">
        <h5>
          <img src="assets/img/HomeSafe.png" alt="HomeSafe" style="height: 50px;">
        </h5>
        <i>Сигурност за дома, спокойствие за теб.</i>
      </div>

      <div class="col-md-4 mb-4">
      </div>
      <!-- Контакти -->
      <div class="col-md-4 mb-4">
        <h5>Контакти</h5>
        <p><i class="bi bi-telephone-fill me-2"></i>+359 898 864 870</p>
        <p><i class="bi bi-envelope-fill me-2"></i>a.dachkinova@gmail.com</p>
      </div>
    </div>

    <hr class="bg-dark" />
    <div class="text-center pt-1">
      © 2025 HomeSafe. Всички права запазени.
    </div>
  </div>
</footer>
