<section class="vh-100" class="wrapper">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px; margin: 25px">
          <div class="card-body p-md-5">
            <form [formGroup]="form">
            <div class="datepickers">
                <mat-form-field appearance="fill" class="datepicker">
                  <mat-label>Начална дата на застраховката</mat-label>
                  <input matInput [matDatepicker]="startDate" [min]="minDate" [max]="maxDate" (dateChange)="chosenDate($event)" formControlName="startDate"/>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="startDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" class="datepicker">
                  <mat-label>Крайна дата на застраховката</mat-label>
                  <input matInput [matDatepicker]="endDate" formControlName="endDate" [disabled]="true"/>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="endDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
            </div>
          </form>



            <div class="row align-items-center colums-wrapper">
              <p class="section-title">Изберете покритие</p>
              <div class="col">
                <div class="align-items-stretch">
                  <div class="icon-box" [class.active]="isActive">
                    <div class="icon"><span class="material-icons">home</span></div>
                    <h3 class="title">Стандартно покритие</h3>
                    <i class="description">Пожар, мълня, експлозия, имплозия; буря, пороен дъжд, градушка, наводнение</i>
                    <hr>
                    <button
                      type="button"
                      class="btn add"
                      (click)="togglePack('STANDART')"
                      *ngIf="coveragePackage !== 'STANDART'"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                    <button
                      type="button"
                      class="btn add"
                      (click)="togglePack('')"
                      *ngIf="coveragePackage === 'STANDART'"
                    >
                      <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="align-items-stretch">
                  <div class="icon-box">
                    <div class="icon"><span class="material-icons">home</span></div>
                    <h3 class="title">Оптимално покритие</h3>
                    <i class="description">Стандартно покритие + злоумишлени действия на трети лица, вандализъм, ВиК авария, счупване на стъкла, кражба чрез взлом и грабеж за движимо имущество</i>
                    <hr>
                    <button type="button" class="btn add" (click)="addPack('OPTIMAL')" *ngIf="coveragePackage!=='OPTIMAL'">
                      <mat-icon>add</mat-icon>
                    </button>
                    <button type="button" class="btn add" (click)="addPack('')" *ngIf="coveragePackage=='OPTIMAL'">
                      <mat-icon>remove_circle_outline</mat-icon>
                      </button>
                  </div>
                </div>
            </div>
              <div class="col">
                <div class="align-items-stretch">
                  <div class="icon-box">
                    <div class="icon"><span class="material-icons">home</span></div>
                    <h3 class="title">Максимално покритие</h3>
                    <i class="description">Оптимално покритие + земетресение, удар от ППС, щети вследствие на индиректно попадане на мълня</i>
                    <hr>
                    <button type="button" class="btn add" (click)="addPack('MAXIMUM')" *ngIf="coveragePackage!=='MAXIMUM'">
                       <mat-icon>add</mat-icon>
                    </button>
                    <button type="button" class="btn add" (click)="addPack('')" *ngIf="coveragePackage=='MAXIMUM'">
                      <mat-icon>remove_circle_outline</mat-icon>
                      </button>
                  </div>
                </div>
            </div>
            </div>


            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button type="button" class="btn submit" (click)="continue()" [disabled]="form.status!=='VALID'">
                Продължи
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
