<section id="hero" class="d-flex align-items-center section-home">
  <div class="container-first">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 hero-img">
        <img src="assets/img/home-page.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 order-1 order-lg-2 d-flex flex-column justify-content-center">
        <h1>Добре дошли в HomeSafe</h1>
        <h2>Защитете своя дом и имущество с гъвкави и надеждни застрахователни решения, които ви осигуряват сигурност и спокойствие.</h2>
      </div>
    </div>
  </div>
</section>

<main id="main">
  <section id="about" class="about section-home">
    <div class="container-second">
      <div class="row justify-content-between">
          <div class="col-lg-6 pt-5 pt-lg-0">
          <div class="row">
            <h3>Открийте перфектния застрахователен план за вашия дом!</h3>
            <p>
              HomeSafe предлага разнообразие от застрахователни планове, които покриват рискове като природни бедствия, кражби и аварии. Изберете най-подходящото решение за вашия дом бързо и лесно!</p>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          <div class="col-md-6" >
            <i class="bx bx-receipt"></i>
            <h4>Персонализирани планове</h4>
            <p>Създайте застраховка, която отговаря на вашите нужди. Изберете обхват и покритие, за да осигурите пълна защита на вашето имущество.</p>
          </div>
          <div class="col-md-6">
            <i class="bx bx-cube-alt"></i>
            <h4>Сигурност и надеждност</h4>
            <p>С HomeSafe получавате висококачествена защита и сигурност. Разчитайте на нас за бърза и лесна обработка на застрахователни претенции.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
